.nav_Container{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(3, 3, 7);
}
.nav_Container > .title{
    margin-right: 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}

.nav_Container > ul {
    display: inline-flex;

}
.nav_Container >ul >li {
    color: gray;
    background: transparent;
    padding: 10px ;
    margin-left:1em ;
    cursor: pointer;
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.nav_Container >ul >li:hover {
    background-color: rgb(21, 21, 21);
}
.nav_Container >ul >li > .icon{
    background: transparent;
}
.nav_Container >ul >li > .action_icon{
    font-size:1.8rem;
}